In [ ]:
def test_print(a, b=2):
    print(a)
    print(b)

test_print(b=5, a=3)

In [ ]:
test = 5

def test_function2():
    a = 4
    # test = 6
    print(test)  # 6

print(test)  # 5
# print(a)
test_function2()
print(test)  # 5

In [ ]:
print(test_function2())

In [ ]:
def function_with_multiple_return_values():
    """
    returns three values: 4, 'a', True
    """
    return 4, 'a', True

val1, val2, val3 = function_with_multiple_return_values()
print(val1)
print(val2)
print(val3)

In [ ]:
values = function_with_multiple_return_values()
print(values)

In [ ]:
def is_palindrome(seq):
    if len(seq) == 0:
        return True
    if len(seq) == 1:
        return True
    return seq[0] == seq[-1] and is_palindrome(seq[1:-1])

is_palindrome("23432")

In [ ]:
def fib(n):
    if n == 1:
        return 0
    if n == 2:
        return 1
    return fib(n - 1) + fib(n - 2)

fib(50)

In [3]:
def barnyard(heads, legs):
    for chicken in range(0, heads + 1):
        rabbits = heads - chicken
        if 2 * chicken + 4 * rabbits == legs:
            return chicken, rabbits
    return None, None

barnyard(48, 129)

(None, None)

In [8]:
def fib_gen(n):
    a, b = 0, 1
    for _ in range(n):
        yield a
        a, b = b, a + b

gen = fib_gen(10)
print(next(gen))
print(next(gen))
print(next(gen))

0
1
1

In [10]:
f = lambda x: x ** 2
f(2)

4

In [11]:
my_list = [1, 5, 4, 6, 8, 11, 3, 12]
new_list = list(filter(lambda x: (x % 2 == 0), my_list))
print(new_list)

[4, 6, 8, 12]

In [12]:
my_list = ["id0", "id3", "id30", "id24", "id52"]
print(sorted(my_list))

['id0', 'id24', 'id3', 'id30', 'id52']

In [13]:
print(sorted(my_list, key=lambda x:int(x[2:])))

['id0', 'id3', 'id24', 'id30', 'id52']

In [19]:
h = "hello"
w = h
h += " world"
print(w)
print(h)
# w[0] = 'a'

hello
hello world

In [22]:
my_list = [2, 3, 4, 5, 6]
for element in my_list:
    print(element)

2
3
4
5
6

In [23]:
for idx, element in enumerate(my_list):
    print(idx, element)

0 2
1 3
2 4
3 5
4 6

In [24]:
x = 5
y = x
x = 6
print(y)

5

In [25]:
lst1 = [1, 2, 3]
lst2 = lst1
lst1.append(4)

print(lst1)
print(lst2)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [26]:
lst1 = [1, 2, 3]
lst2 = lst1.copy()
lst1.append(4)

print(lst1)
print(lst2)

[1, 2, 3, 4]
[1, 2, 3]

In [27]:
lst = [num for num in range(1, 101)]
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]