In [2]:
h = "Hello"
h

'Hello'

In [3]:
g = h
g

'Hello'

In [4]:
g += " World!"
g

'Hello World!'

In [5]:
h

'Hello'

In [31]:
lst = ["a", "b", "c", "d", "e"]
for elem in lst:
    print(elem)

a
b
c
d
e

In [10]:
for idx, elem in enumerate(lst):
    print(idx, elem)

0 a
1 b
2 c
3 d
4 e

In [14]:
"c" not in lst

False

In [28]:
lst.index("b")
lst.index("b", 0, 5)
len(lst)
lst.reverse()
lst

['a', 'b', 'c', 'd', 'e']

In [32]:
print(lst)
lst.remove('a')
print(lst)

['a', 'b', 'c', 'd', 'e']
['b', 'c', 'd', 'e']

In [35]:
lst = [1, 2, 3]
lst2 = lst.copy()
print(lst)
print(lst2)

lst.append(4)
print(lst)
print(lst2)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3]

In [36]:
lst = []
for num in range(1, 11):
    lst.append(num ** 3)
lst

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [39]:
lst = [num ** 3 for num in range(1, 11)]
lst

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [45]:
tup = (1, 2)
print(tup)
tup = tup + (3, )
print(tup)
# tup[0] = 0
print((1, 2) * 3)

(1, 2)
(1, 2, 3)
(1, 2, 1, 2, 1, 2)

In [46]:
my_dict = {
    1: "one",
    2: "two",
    3: "three"
}
print(my_dict)

{1: 'one', 2: 'two', 3: 'three'}

In [47]:
for elem in my_dict:
    print(elem)

1
2
3

In [51]:
for key in my_dict.keys():
    print(key)
    print(my_dict[key])

1
one
2
two
3
three

In [49]:
for value in my_dict.values():
    print(value)

one
two
three

In [50]:
for key, value in my_dict.items():
    print(key, value)

1 one
2 two
3 three

In [54]:
my_dict[4] = "four"
print(my_dict)
my_dict.popitem()
print(my_dict)

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}
{1: 'one', 2: 'two', 3: 'three'}