In [33]:
def square(number, print_result=False):
    """
    Returns the square of a number.
    
    Parameters:
    number - an integer or float
    
    Returns:
    an integer or float representing the square
    """
    result = number ** 2
    if print_result:
        print("The result is:", result)
    return result

In [7]:
square(3, True)

The result is: 9

9

In [4]:
# square("abc")

In [ ]:
square(True, 3)

In [12]:
square(print_result=True, number=3)

The result is: 9

9

In [15]:
square()

TypeError: square() missing 1 required positional argument: 'number'

In [19]:
def cube(number:int) -> int:
    if not isinstance(number, int):
        return -1
    result = number ** 3
    return result

In [21]:
cube(-1)

-1

In [22]:
cube(3.4)

-1

In [37]:
def square(number, print_result=False):
    global a  # global variable - do not use
    a += 1
    result = number ** 2
    if print_result:
        print("The result is:", result)
    return result

In [38]:
a = 5
print(square(a))
# print(result)
print(a)

25
6

In [39]:
def no_return_value():
    pass

In [40]:
print(no_return_value())

None

In [41]:
def multiple_return_values():
    return 1, 2, 3

In [42]:
print(multiple_return_values())

(1, 2, 3)

In [43]:
a, b, c = multiple_return_values()

In [44]:
print(a)
print(b)
print(c)

1
2
3

In [45]:
ret_value = multiple_return_values()
print(ret_value)

(1, 2, 3)

In [46]:
print(ret_value[0])

1

In [47]:
a, b, _ = multiple_return_values()  # if you don't want to use the last value
print(_)

3

In [48]:
x = 5
eval("x * x")

25

In [49]:
number = int(input("Please enter an integer: "))
expr = input("Please enter an expression using number: ")
print(eval(expr))

Please enter an integer: 5
Please enter an expression using number: number + number * number
30

In [57]:
def square(number: int) -> int:
    """
    Takes an integer as argument and returns its square.
    """
    return number ** 2


def cube(number: int) -> int:
    return number ** 3


func = input("Enter a function (square/cube): ")

for number in range(1, 11):
    print(eval(func)(number))

Enter a function (square/cube): cube
1
8
27
64
125
216
343
512
729
1000

In [58]:
myfile = open("test.txt", "w")

In [59]:
myfile.write("blablabla\n")

10

In [60]:
myfile.flush()

In [61]:
myfile.write("druhy riadok\n")
myfile.close()

In [62]:
readfile = open("test.txt", "r")
print(readfile.readlines())

['blablabla\n', 'druhy riadok\n']

In [63]:
readfile.close()

In [64]:
def is_palindrome(sequence):
    if len(sequence) == 0:
        return True
    if len(sequence) == 1:
        return True
    return sequence[0] == sequence[-1] and is_palindrome(sequence[1:-1])

In [65]:
print(is_palindrome("1001001"))
print(is_palindrome("123456"))
print(is_palindrome("123321"))
print(is_palindrome("1234221"))

True
False
True
False

In [66]:
def fibonacci(n):
    if n == 1:
        return 0
    if n == 2:
        return 1
    return fibonacci(n - 2) + fibonacci(n - 1)

In [67]:
print(fibonacci(1))
print(fibonacci(2))
print(fibonacci(3))
print(fibonacci(7))

0
1
1
8

In [68]:
print(fibonacci(20))

4181

In [69]:
print(fibonacci(25))

46368

In [70]:
print(fibonacci(50))

KeyboardInterrupt:

In [71]:
def barnyard(heads, legs):
    for chicken in range(0, heads + 1):
        rabbits = heads - chicken
        if 2 * chicken + 4 * rabbits == legs:
            return chicken, rabbits

In [72]:
print(barnyard(48, 128))

(32, 16)

In [86]:
def fib():
    a, b = 0, 1
    while True:
        yield a
        a, b = b, a + b

In [87]:
gen = fib()
print(gen)

<generator object fib at 0x000001DC492AF120>

In [89]:
for _ in range(100):
    print(next(gen))

1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269
2178309
3524578
5702887
9227465
14930352
24157817
39088169
63245986
102334155
165580141
267914296
433494437
701408733
1134903170
1836311903
2971215073
4807526976
7778742049
12586269025
20365011074
32951280099
53316291173
86267571272
139583862445
225851433717
365435296162
591286729879
956722026041
1548008755920
2504730781961
4052739537881
6557470319842
10610209857723
17167680177565
27777890035288
44945570212853
72723460248141
117669030460994
190392490709135
308061521170129
498454011879264
806515533049393
1304969544928657
2111485077978050
3416454622906707
5527939700884757
8944394323791464
14472334024676221
23416728348467685
37889062373143906
61305790721611591
99194853094755497
160500643816367088
259695496911122585
420196140727489673
679891637638612258
1100087778366101931
1779979416004714189
2880067194370816120
4660046610375530309
7540113804746346429
12200160415121876738
19740274219868223167
31940434634990099905
51680708854858323072
83621143489848422977
135301852344706746049
218922995834555169026
354224848179261915075

In [91]:
my_list = [1, 5, 4, 6, 8, 11, 3, 12]
new_list = list(filter(lambda x: (x % 2 == 0), my_list))
print(new_list)

[4, 6, 8, 12]

In [92]:
my_list = ["id0", "id3", "id30", "id24", "id52"]
print(sorted(my_list))
print(sorted(my_list, key=lambda x: int(x[2:])))

['id0', 'id24', 'id3', 'id30', 'id52']
['id0', 'id3', 'id24', 'id30', 'id52']

In [95]:
my_list = [
    {
        "name": "A B",
        "age": 24
    },
    {
        "name": "D A",
        "age": 32
    },
    {
        "name": "C H",
        "age": 17
    },
    {
        "name": "A G",
        "age": 23
    }
]

print(sorted(my_list, key=lambda x: x["name"].split()[1]))
print(sorted(my_list, key=lambda x: x["age"]))

[{'name': 'D A', 'age': 32}, {'name': 'A B', 'age': 24}, {'name': 'A G', 'age': 23}, {'name': 'C H', 'age': 17}]
[{'name': 'C H', 'age': 17}, {'name': 'A G', 'age': 23}, {'name': 'A B', 'age': 24}, {'name': 'D A', 'age': 32}]